<div style="height: calc(100vh - 24px)">;
  <mat-toolbar class= "fixed-header" style="background-color: grey">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow="true"
        fxHide.gt-sm
      >
        <mat-icon>menu</mat-icon>
        <span style="font-size: 17px;">MENU</span>
      </button>
      <span></span>
      <span
        class="menu-spacer"
        style="margin-left: 10%; text-shadow: 3px 3px 4px white;"
        >MATIEJ METEO</span
      >

      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="home" role="button" routerLinkActive="active" mat-button
          >HOME</a
        >
        <a
          routerLink="online-stations"
          role="button"
          routerLinkActive="active"
          mat-button
          >ONLINE MEASUREMENTS</a
        >
        <a
          routerLink="gohome"
          role="button"
          routerLinkActive="active"
          mat-button
          >HISTORICAL MEASUREMENTS</a
        >
        <a
          routerLink="gohome"
          role="button"
          routerLinkActive="active"
          mat-button
          >CONTACT</a
        >
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav role="navigation">
      <mat-nav-list>
        <a
          (click)="sidenav.toggle()"
          mat-list-item
          routerLink="home"
          role="button"
          routerLinkActive="active"
          >Home</a
        >
        <a
          (click)="sidenav.toggle()"
          routerLink="online-stations"
          role="button"
          routerLinkActive="active"
          mat-list-item
          >Online Measurements</a
        >
        <a
          (click)="sidenav.toggle()"
          routerLink="home"
          role="button"
          routerLinkActive="active"
          mat-list-item
          >Stored Measurements</a
        >
        <a
          (click)="sidenav.toggle()"
          routerLink="home"
          role="button"
          routerLinkActive="active"
          mat-list-item
          >Contact</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content 
    
    style="text-align: center;" 
    fxFlexFill
    [ngClass]="bodyC"
    >
    <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
