th,
td,
tr {
  text-align: center;
  font-size: 12px;
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  width: 450px;
  border: 1px solid gray;
}

.sun-center {
  width: 200%;
  border-radius: 60%;
}

.table-odd {
  border: 5px solid rgb(39, 39, 228);
  margin-block-end: 6px;
}

.table-ev {
  border: 5px solid rgb(13, 13, 93);
  margin-block-end: 6px;
}

.load {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80%;
  
  animation: spinner-grow 0.95s linear;
}

.filter-header {
  min-height: 64px;
  margin-right: 50%;
  margin-left: 10%;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 19px;
  width: 100%;
}

.table-container {
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  flex-direction: column;
  min-width: 300px;
  text-align: center;
}

.mat-header-cell {
  font-size: 18px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  text-decoration: underline;
  color: bisque;
  border: 1px solid grey;
}

.mat-cell {
  border: 1px solid gray;
  color: white;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 11px;

  /* display: block; */
}

.mat-table {
  overflow: auto;
  color: white;
  max-height: 450px;
  background-color: transparent;
  text-align: center;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}
/* child components */
/* .element-row:not(.expanded):hover {
  background: #249607;
} */

.element-row.expanded {
  border-bottom-color: transparent;
}
